.root {
    -fx-background-color: grey;
    -fx-transition: background-color 0.3s ease; /* Smooth transition */
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #2E2E2E; /* Dark gray background */
    -fx-border-color: white; /* Green border color */
    -fx-border-width: 2px;
    -fx-font-size: 20px; /* Larger font size */
}

.button:hover {
    -fx-background-color: #555; /* Darker background color on hover */
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18px; /* Larger font size for player's name */
}
